@{
    ViewData["Title"] = "Home";
}

    <header class="masthead text-center text-black showcase-img " style="background-image: url('/img/IPG.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
        <div class="masthead-content">

            <div class="container"   >
                <div class="col-lg-6 order-lg-2 text-white " ></div>
                <h1 class="masthead-heading mb-0" style="background-color:rgba(250, 250, 250, 0.8);">Gestão Tarefas</h1>
                <h2 class="masthead-subheading mb-0" style="background-color:rgba(250, 250, 250, 0.8);">IPG</h2>
            
            </div>
        </div>
    </header>
    <section>
        
    </section>

















   
